:root {
  --header-bg: #2d4356;
  --header-text: #D9B282;
  --light-grey: #f8f6f4;
  --light-blue-3: #c4dfdf;
  --light-blue-2: #d2e9e9;
  --light-blue-1: #e3f4f4;
  --text-color: #1a1a1a;
  --text-hover: #4f709c;
  --text-active: #2d3e5e;
  --bg-color-hover: #b2d2d2;
  --bg-color-active: #a1c3c3;

  --header-height: 62px;
  --menu-width: 100px;
}
